body {
    background-image: url("/resources/images/banner/empty_cart.jpg");
}

.breadcrumb a{
    margin-left: 2em;
    color: black;
    font-size: 16px;
}
.breadcrumb > li {
    font-weight: 500;
    color: red;
    font-size: 16px;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

.breadcrumb{
    background-color: transparent;
}

.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-heading a.active{
    color: #029f5b;
    font-size: 35px;
    font-weight: bold;
}
.panel-heading hr{
    margin-top: 5px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-body{
    background-color: transparent;
}

.btn-register {
    background-color: #0c5460;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: 600;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #0c5460;
    border-color: #0c5460;
}

.form_input{
    margin-top: 2px;
    border-bottom-color: #0c5460;
}


